*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232c;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: #1D232c;
}

.navbar-menu-toggle{
    display: none;
}

/*side Navbar*/
.side-navbar{
    background-color: #1D232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-link a{
    /*color: white;*/
    text-decoration: none;
}

.side-navbar-link a:hover{
    text-decoration: underline;
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232c;
    color: white;
    cursor: pointer;
}

.service{
    padding: 20px;
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;

}

.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1D232c;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232c;
    color: #f2f4f7;
}

.product-section{
    margin-top: 20px;
}

.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background: transparent;
    width: 100%;
}

.product-search input:hover{
   outline: none;
}

.products{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.products-box{
    text-align: center;
    flex-basis: 20%;
}

.product-box img{
    border-radius: 10px;
}

/*contact*/

.contact-container{
    background-color: hsl(216, 21%, 14%);
    color: #f2f4f7;
    width: 60%;
    height: 80%;
    align-items: center;
    padding: 50px;
    margin-left: 20%;
}
.contact-input{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.contact-form{
    margin-left: 30px;
    max-width: 800px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-header{
    text-align: center;
    padding: 10px;
}
.btn{
    background-color: #f2f4f7;
    color: #1D232c;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    margin-left: 35%;
    margin-top: 3%;
}


/*Media Query*/

@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-img{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}